Unidecode==1.2.0
nltk==3.5
matplotlib==3.3.4
numpy==1.22.0
pandas==1.2.3
tqdm==4.49.0
Flask==1.1.2
sacremoses==0.0.43
seaborn==0.11.1
langid==1.1.6
ftfy==5.9
torch==1.8.1
dython==0.6.6
scikit_learn==0.24.2
xgboost==1.4.2
